<div class="text-center">
<h1>
    This job is not created by you.
</h1>
<button
  type="button"
  class="btn btn-primary mt-3"
  onclick="window.location.href='/jobs'"
>
  Back To Job List Page
</button>
</div>